extends ../layout

block content
    h1= "Login"
    form(action="/login", method="post")
        div(class="form-group")
            label="Username"
            input(type="text", name="username", class="form-control")
        div(class="form-group")
            label="Password"
            input(type="password", name="password", class="form-control")
        div(class="form-group")
            input(type="submit", value="Log in", class="btn btn-success")