doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="navbar navbar-expand-md navbar-dark bg-dark fixed-top")
      a(class="navbar-brand", href="#")="Node JS Crud"
      div(class="collapse navbar-collapse")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item")
            a(href="/", class="nav-link")="Главная"
          if(user != null)
            li(class="nav-item")
              a(href="/users", class="nav-link")="Пользователи"
        ul(class="navbar-nav")
          li(class="nav-item")
            if(user != null)
              a(href="/logout", class="nav-link")="Выйти(" + ( user.username ? user.username : user.email) +  ")"
            else
              a(href="/login", class="nav-link")="Войти"


    block content
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js")
