extends ../layout

block content
    form(method="post")
        div(class="form-group")
            label="email"
            input(type="email", name="email", class="form-control", value=model.email)
        div(class="form-group")
            label="password"
            input(type="text", name="password", class="form-control", value=model.password_hash)
        div(class="form-group")
            label="username"
            input(type="text", name="username", class="form-control", value=model.username)
        button(type="submit", class="btn btn-primary")="Сохранить"