extends ../layout

block content
    h1="Users"
        a(class="float-right", class="btn btn-primary", href='/users/edit')="Добавить пользователя"
    table(class="table")
        thead
            tr
                th="id"
                th="email"
                th="username"
                th=""
        tbody
            each u in users
                tr
                    td=u.id
                    td=u.email
                    td=u.username
                    td
                        a(href="/users/edit/" + u.id, class="btn btn-sm btn-success")
                            i(class="fa fa-edit")
                        |
                        |
                        a(href="/users/delete/" + u.id, class="btn btn-sm btn-danger")
                            i(class="fa fa-trash")